* {
  background-color: #1f2325;
  font-family: 'Lato', sans-serif;
  color: #dfdfdfd7;
}

html { overflow-y: scroll }

#main-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

#name-and-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name { font-size: 60px }

#stack {
  margin-top: 15px;
  font-size: 35px;
  color: #8a34e0;
}

#main-about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

#social-links { padding: 25px }

.git-link {
  color: inherit;
  font-size: 40px;
  text-decoration: none;
  padding-right: 10px;
}

.linked-link {
  color: inherit;
  font-size: 40px;
  text-decoration: none;
  padding-left: 10px;
}

/* https://pt.stackoverflow.com/questions/46582/mudar-cor-do-svg-no-hover */
svg:hover path { fill: #e4e4e4b0 }

#nav-links {
  width: 300px;
  display: flex;
  padding: 25px;
  justify-content: space-between;
}

.home {
  color: inherit;
  font-size: 27px;
  text-decoration: none;
}

.about {
  color: inherit;
  font-size: 27px;
  text-decoration: none;
}

#photo {
  padding-top: 35px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border: 3px solid #8a34e0d2;
  border-radius: 100%;
  width: 40%;
  filter: 0.8%;
}

#about-me {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px;
  text-align: center;
  padding-bottom: 30px;
}

#hi {
  font-size: 30px;
  color: #e2e2e2;
}

#about-text {
  font-size: 20px;
  font-weight: 1.6;
}

#skills {
  font-size: 25px;
  color: #e2e2e2;
}

/* draw underline link hover effect */
/* https://www.youtube.com/watch?v=aswRKAjjWuE&ab_channel=CodingArtist */

.hover { position: relative }

.hover:after {
  content: '';
  position: absolute;
  background-color: #7b2cbf;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.hover:hover { color: #e4e4e4b0 }

.hover:hover:after { width: 100% }

/* Responsivo */

@media (min-width: 1000px ) and (max-width: 1400px) {
  /* Tablet */
  #cards-div { margin-bottom: 200px }
}

@media (min-width: 300px ) and (max-width: 800px) {
  /* Phone */
  #name { font-size: 35px }

  #stack { font-size: 25px }

  #about-me{ width: 80% }

  #about-text { font-size: 18px }

  #hi { font-size: 27px; }

  #projects-intro-text { margin-bottom: 15px; }

  #projects-intro-text span { font-size: 18px; }
}